h1{
    color: red;
    text-align: center;
  }

  .button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15vh;
  }
  
  .button-container button {
    background-color: yellow;
    padding: 10px 20px;
    font-size: 18px;
    margin: 10px;
  }
  